# requirements.txt

# Streamlit - Thư viện giao diện chính
streamlit
# Thư viện xử lý dữ liệu bảng
pandas
# Thư viện dùng để đọc file Word (.docx)
python-docx
# Thư viện chứa các hàm toán học tài chính (như tính IRR)
scipy
# Thư viện để gọi API Gemini
google-genai 
# Force re-deploy

